@define-color bgcolor #000000; /* PURE BLACK */
@define-color fgcolor #ffffff; /* PURE WHITE */

@define-color accent1 #077308;
@define-color accent2 #4aa91f;
/*
@define-color accent3 #ff9e64;
@define-color accent4 #bb9af7;
@define-color accent5 #7da6ff;
@define-color accent6 #0db9d7;
*/

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

/* WINDOW */
window#waybar {
    background: transparent;
    /* border-radius: 10px; */
    /* color: @fgcolor; */
    /* opacity: 1; */
}

/* window#waybar.hidden {
    opacity: 0.2;
} */

/* DOT PER ITEM CONFIG HERE */
#workspaces,
#battery,
#network,
#clock,
#bluetooth,
#backlight,
#pulseaudio,
#tray {
    background-color: black;
    color: @fgcolor;
    border: 1px solid @fgcolor;
    /* border: none; */
}

#battery,
#network,
#clock,
#bluetooth,
#backlight,
#pulseaudio,
#tray {
    /* border-radius: 10px; */
    padding: 6 10 6 10;
}

#workspaces {
    padding: 0;
    margin: 6 0 6 10;
}

#battery {
    margin: 6 10 6 0;
}

#network,
#clock,
#bluetooth,
#backlight,
#pulseaudio,
#tray {
    margin: 6px 0px;
}

/* WORKSPACES */
#workspaces button {
    /* min-width: 0; */
    /* box-shadow: inset 0 -3px transparent; */
    padding: 0px 6px;
    /* margin: 6px 3px; */
    /* border-radius: 4px; */
    color: @fgcolor;
    /* background-color: @bgcolor; */
    /* border: 1px solid @fgcolor; */
}

#workspaces button.active {
    background-color: @accent1;
    color: @fgcolor;
    /* border: 1px solid @fgcolor; */
}

#workspaces button:hover {
    background-color: @fgcolor;
    color: @bgcolor;
}
