@import "colors.css";

/* WAYBAR STYLING */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    font-weight: bolder;
}

/* WINDOW */
window#waybar {
    background: @accent2;
    /* background: rgba(238, 221, 57, 0.9); */
    /* background: rgba(0, 0, 0, 0.65); */
    /* background: transparent; */
    border-radius: 24px;
    /* border: 1px solid @purewhite; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/* MODULES LEFT */
#custom-arch {
    background-color: @accent3;
    color: @accent2;
    margin: 8 0 8 8;
    border-radius: 30px;
    padding: 6 12 6 8;
    font-size: 10px;
}

#workspaces {
    background-color: @accent3;
    margin: 8 0;
    border-radius: 8px;
}

#workspaces button {
    color: @color1;
    margin: 3;
    padding: 0;
}
#workspaces button.active {
    background-color: @accent2;
    color: @accent3;
    border-radius: 6px;
    padding: 0 2;
}

#workspaces button:hover {
    background-color: @accent2;
}

#window {
    color: white;
}

#clock {
    color: @color1;
    background-color: @accent3;
    padding: 0 28 0 20;
    margin: 8 0;
    border-radius: 6px;
}

/* MODULES RIGHT */
#battery,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#tray {
    color: @color1;
    background-color: @accent3;
    margin: 8 0;
    padding: 0 8;
    border-radius: 6px;
}

#custom-power {
    background-color: @accent3;
    color: @accent2;
    margin: 8 8 8 0;
    border-radius: 30px;
    padding: 6 12 6 9;
    font-size: 10px;
}
